$background-primary:  #282c34;
$background-secondary: #20232a;
$font-color-main: #ffffff; 
$font-size-main-p: 1em;
$font-color-secondary: #61dafb;
$error-color: #ff7777; 
$button-color: #4d4d4d;
$button-hover: #21a1f1; 
$scroll-color: linear-gradient(45deg, #61dafb, #21a1f1, #a1e4ff); 
$height-cover: 100%;
$width-cover: 100%;
$transition_all: 0.3s;
$border_circle: 100%;
$breakpoints: (
  small:  500px,
  medium: 768px,
  large:  1024px,
  xlarge: 1440px
);
