@include breakpoint(large, "max") {
    .new-releases {
        padding: 2vh;
        .catalog {
            padding: 0;
            grid-template-columns: repeat(2, 1fr);
            .card-horizontal {
                height: auto;
                .img_movie {
                    .overlay {
                        padding: 0vh;
                        .logo_anime_img {
                            display: none;
                        }
                        .description_anime_img  {
                            .description {
                                padding: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}