@include breakpoint(small, "max") {
    .new-releases {
        .catalog {
            padding: 0;
            grid-template-columns: repeat(1, 1fr);
            .card-horizontal {
                height: 250px;
                .img_movie {
                    .overlay {
                        padding: 2px;
                    }
                }
            }
        }
    }
    .see_more {
        .button {
            h5 {
                font-size: 0.7em;
            }
        }
    }
}